:host {
  display: block;
  background: hsl(var(--background));
}

.hlm-input {
  transition: all 200ms ease;
}

.hlm-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px hsl(var(--background)), 0 0 0 4px hsl(var(--ring));
}
